body {
    background-color:lightgreen;
}
@media (max-width: 767px) {
    body {
        background-color:gold;
    }
}
@media (max-width: 480px) {
    body {
        background-color:lightblue;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    body {
        background-color:lime;
    }
}
@media (min-width: 980px) {
   body {
        background-color:orange;
    }
}
@media (min-width: 1200px) {

    body {
        background-color:darkgoldenrod;
    }
}
